.fundoCadastro {
    background-image: url("https://img.freepik.com/vetores-gratis/design-colorido-de-vetor-de-documento_341269-1262.jpg?t=st=1739444987~exp=1739448587~hmac=8e8e16460181ad8a70029e5bf38e4051b5a1e378d05f8ea0141933444c595fb6&w=826");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }