

.fundoLogin {
    background-image: url("../../assets/vecteezy_freelancer-blog-writer-woman-drinking-for-relax-on-a-clean_6865287.jpg");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}